<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation=
		"http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/cache 
		http://www.springframework.org/schema/cache/spring-cache-3.1.xsd">
	
	<context:property-placeholder location="classpath:spring-cache/memcached.properties" ignore-unresolvable="true" />
	
	<cache:annotation-driven cache-manager="cacheManager"/>
	
	<!-- memcached客户端 -->
	<bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
		<property name="servers" value="${servers}"/>
		<property name="protocol" value="${protocol}"/>
		<property name="transcoder">
			<bean class="net.spy.memcached.transcoders.SerializingTranscoder">
				<property name="compressionThreshold" value="${compressionThreshold}"/>
			</bean>
		</property>
		<property name="opTimeout" value="${opTimeout}"/>
		<property name="timeoutExceptionThreshold" value="${timeoutExceptionThreshold}"/>
		<property name="hashAlg">
        	<value type="net.spy.memcached.DefaultHashAlgorithm">${hashAlg}</value>
		</property>
		<property name="locatorType" value="${locatorType}"/> 
		<property name="failureMode" value="${failureMode}"/>
		<property name="useNagleAlgorithm" value="${useNagleAlgorithm}"/>
	</bean>
	
	<bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
     p:configLocation="classpath:/spring-cache/ehcache.xml"
     p:shared="false" />


	<!-- 声明cacheManager -->

	<bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
	   p:cacheManager-ref="cacheManagerFactory"/>
   		
	<!-- spring cache管理接口  -->
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager"> 
		<!-- 注入各个cache客户端，使用name来区分，亦可按照功能来分割--> 
		<property name="caches">
			<set>
				<!-- Memcached注入 -->
				<bean class="com.mochasoft.fk.cache.memcached.MemcachedCache">
		          <property name="name" value="memcache" />
		          <property name="client" ref="memcachedClient"/>
		          <property name="expiry" value="3600" />
		      	</bean>
		      	<bean class="com.mochasoft.fk.cache.memcached.MemcachedCache">
		          <property name="name" value="memcache1" />
		          <property name="client" ref="memcachedClient"/>
		          <property name="expiry" value="3600" />
		      	</bean>
		      	<!-- Ehcache注入 -->
		      	<bean class="com.mochasoft.fk.cache.ehcache.EhcacheCache">
		      		<property name="name" value="ehcache" />
		      		<property name="cacheManager" ref="ehcacheManager" />
		      	</bean> 
		      	<bean class="com.mochasoft.fk.cache.ehcache.EhcacheCache">
		      		<property name="name" value="ehcache1" />
		      		<property name="cacheManager" ref="ehcacheManager" />
		      	</bean> 
			</set>
		</property>
	</bean>
</beans>